<header class="shadow p-2 mb-2">

    <div class="row">
        
        <div class="col-12">
            
            <h2 class="ml-4 float-start">
                
                <a *ngIf="!inTheHome" title="ir al home" routerLink="/">
                    <i class="mt-2 fa fa-home float-start"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                {{title}}
            </h2>

            <button *ngIf="!inTheHome" (click)="back()" class="btn btn-block bg-light float-end">
                <i class="fa fa-arrow-left"></i>
            </button>
        
        </div>
        
    </div>

</header>